.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

label {
    width: 100%; /* ширина текстовых меток будет занимать всю доступную ширину */
    margin-bottom: 10px; /* добавляем небольшой отступ между элементами */
}

input, button {
    width: 100%; /* инпуты и кнопки займут всю доступную ширину */
    margin-bottom: 10px; /* добавляем небольшой отступ между элементами */
}

img {
    width: 350px;
    margin: 10px;
    border: 1px solid black;
}

.file-reader {
    width: 100%; /* инпуты и кнопки займут всю доступную ширину */
    margin-bottom: 10px; /* добавляем небольшой отступ между элементами */
}

