.navbar {
    width: 100%;
    background-color: #1677ff; /* Ярко зеленый цвет */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Добавим отступы для улучшения внешнего вида */
}
  
.icon {
    width: 50px; /* Задаем ширину иконки */
    height: 50px; /* Задаем высоту иконки */
    transition: all 0.3s ease; /* Добавим плавный переход для анимации */
}
  
.icon:hover {
    transform: scale(1.1); /* Увеличим размер иконки при наведении */
}
  
a {
    text-decoration: none; /* Убираем подчеркивание для ссылок */
    transition: all 0.3s ease; /* Добавляем плавный переход для анимации */
}
  
a:hover {
    color: #ffffff; /* Изменяем цвет текста при наведении */
}
  
a:active {
    transform: translateY(2px); /* Создаем визуальный эффект нажатия */
}
  
.selected-icon {
    width: 50px; /* Задаем ширину иконки */
    height: 50px; /* Задаем высоту иконки */
    transition: all 0.3s ease; /* Добавим плавный переход для анимации */
    fill: #ffffff; /* Задаем белый цвет для выбранной иконки */
}